body .subclass-selector {
  width: 700px;
  margin: 0;
  padding: 20px;
  padding-top: 0;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
}

.subclass-selector {
  h1 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}
