.inline-block-box {
  *.container {
    border: 1px solid gray;
  }

  *.default {
    visibility: visible;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-color: gold;
  }

  *.replaced-box {
    display: inline-block;
    visibility: visible;
    overflow: visible;
    width: 51px;
    height: 52px;
    margin: 10px 100px;
    padding: 10px 120px;
    border-top: 5px solid gray;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid gray;
    background-color: gold;
  }

  *.inline-box {
    display: inline-block;
    visibility: visible;
    overflow: visible;
    width: 275px;
    height: 52px;
    margin: 10px 100px;
    padding: 10px;
    border-top: 5px solid gray;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid gray;
    background-color: gold;
  }
}
