body .sized {
  margin: 0;
  padding: 0;
  padding-top: 0;
  width: 700px;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
}

.sized {
  h1 {
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 10px;
  }
}
