body .inline-elements {
  margin: 10px;
  font-family: verdana, arial, sans-serif;
  font-size: medium;
}

.inline-elements {
  h1 {
    margin: 0;
    font-size: 30px;
  }

  h2 {
    margin: 20px 0 1px;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
  }

  p {
    margin: 10px;
  }
}
