.pseudo-class-selectors {
  a {
    display: block;
    width: 260px;
    margin: 20px 10px;
    padding: 3px 10px;
    border-top: 1px solid dimgray;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid dimgray;
    text-decoration: none;
  }

  a:link {
    background-color: white;
    color: black;
  }

  a:visited {
    background-color: white;
    color: gray;
  }

  a:hover {
    background-color: green;
    color: white;
  }

  a:active,
  a:focus {
    background-color: gold;
    color: green;
  }
}
