body .box-model {
  width: 700px;
  margin: 0;
  padding: 0;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
}

.box-model {
  h1 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 30px;
  }
}
